---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import { author, email } from '../data/constants';
import { username } from '../services/github';

const projects = await getCollection('projects');
---

<BaseLayout>
	<div class='flex flex-col min-h-screen gap-4 p-8 md:p-16 max-w-5xl'>
		<div class='flex flex-col gap-2'>
			<h1 class='text-3xl font-bold text-center'>{author}</h1>
			<p class='text-center'>
				https://github.com/{username} | {email}
			</p>
		</div>

		<div>
			<h3 class='text-2xl font-bold'>Education</h3>
			<div class='my-2 divider'></div>
			<div class='flex justify-between font-bold'>
				<p>California State University, Long Beach</p>
				<p>August 2017 - May 2022</p>
			</div>
			<div class='flex justify-between'>
				<p>B.S. in Computer Science</p>
				<p class='italic'>Long Beach, CA</p>
			</div>
			<ul class='list-disc list-inside'>
				<li>President's List: <span class='italic'>Spring 2018</span></li>
				<li>Dean's List: <span class='italic'>Fall 2017, Spring 2022</span></li>
			</ul>
		</div>

		<div>
			<h3 class='text-2xl font-bold'>Projects</h3>
			<div class='my-2 divider'></div>
			{
				projects.map((project) => (
					<div class='my-4'>
						<p class='font-bold'>{project.data.project_name}</p>
						<p class='italic'>{project.data.technologies.join(', ')}</p>
						<ul class='list-disc list-inside'>
							{project.data.points.map((p) => (
								<li class='list-item'>{p}</li>
							))}
						</ul>
					</div>
				))
			}
		</div>

		<div>
			<h3 class='text-2xl font-bold'>Languages / Technologies</h3>
			<div class='my-2 divider'></div>
			<ul class='list-disc list-inside'>
				<li>TypeScript, JavaScript, HTML, CSS, Java, C++, Python</li>
				<li>
					React.js, Next.js, React Native, NoSQL + SQL, Heroku, Express,
					GraphQL, Node.js, Git, Android SDK, Docker
				</li>
			</ul>
		</div>

		<div>
			<h3 class='text-2xl font-bold'>Relevant Coursework</h3>
			<div class='my-2 divider'></div>

			<div class='grid grid-cols-2 gridrows-4'>
				<p>
					<span class='font-bold'>CECS 491A&B -</span> Computer Science Senior Project
					I & II (Java)
				</p>
				<p>
					<span class='font-bold'>CECS 343 -</span> Intro to Software Engineering
					(Java)
				</p>

				<p>
					<span class='font-bold'>CECS 475 -</span> Software Dev with Frameworks
					(C# / .NET)
				</p>
				<p>
					<span class='font-bold'>CECS 328 -</span> Data Structures and Algorithms
					(Java)
				</p>

				<p>
					<span class='font-bold'>CECS 451 -</span> Artificial Intelligence (Python)
				</p>
				<p>
					<span class='font-bold'>CECS 323 -</span> Database Fundamentals (SQL)
				</p>

				<p>
					<span class='font-bold'>CECS 443 -</span> Software Project Management and
					Testing (Javascript / Nest.js / React.js / MongoDB)
				</p>
				<p>
					<span class='font-bold'>CECS 228/229 -</span> Discrete Structures I & II
					(Java / C++ / Python)
				</p>
			</div>
		</div>
	</div>
</BaseLayout>
